@import "font";
// colors variables
$white: #fff;
$black: #0c0c0c;
$about-head: #07617d;
$about-content: #2e383f;
$main-color: rgba(242, 242, 242, 0.4);
$icons: #f9a828;
$qoute-color: #151515;

// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  transition: all 0.4s ease-in-out;
}
html {
  font-size: 10px;
}
body {
  background-color: $white;
  font-family: $main-font;
}
ul {
  list-style: none;
}
a,
:link,
:visited {
  text-decoration: none;
  color: $main-color;
  line-height: 3rem;
  &:hover {
    color: $white;
  }
}
img {
  max-width: 100%;
}
h1,
h3 {
  color: $white;
  font-weight: 700;
}
h5,
h6 {
  font-family: $secondary-font;
  font-size: 1.8rem;
  font-weight: 700;
}
h4 {
  font-size: 2rem;
  color: $about-head;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  color: $qoute-color;
}
h6 {
  color: $about-content;
}
p {
  color: $main-color;
  padding-top: 3rem;
  font-size: 1.5rem;
}
.mtop {
  margin-top: 5rem;
}
.ptop {
  padding-top: 10rem;
}
.pbottom {
  padding-bottom: 10rem;
}
.t-align {
  text-align: center;
}
.btn {
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: $main-font;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 3px solid $white;
  padding: 1.3rem 2.5rem;
  &.learn-btn {
    color: $white;
    background-color: transparent;
    border: 3px solid $white;
  }
  &.submit-btn {
    background-color: $icons;
    border: none;
    width: 100%;
  }
}

#scroll-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1800; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scroll-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*.loader_bg{
  position: fixed;
  z-index: 999999;
  background: $black;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid $icons;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}*/



